<footer>
  <p><a href="http://thinknetica.com/" target="_blank"><%= t('app.description') %></a> <%= t('app.description_more') %>.</p>
  <p><%= current_year %><%= t('app.year')%></p>
  <p><%= t('app.author') %></p>
  <p><%= github_url('SofiBit', 'test-guru')%></p>
</footer>
