<footer class="footer">
    <div class="container">
      <a href="http://thinknetica.com/" target="_blank"><%= t('app.description') %></a> <%= t('app.description_more') %>.
      <%= current_year %><%= t('app.year')%>
      <%= t('app.author') %>
      <%= github_url('SofiBit', 'test-guru')%>
    </div>
</footer>
