<%= form_with model: [:admin, @question, @answer], local: true do |form| %>
  <div class="form-group">
    <%= render 'shared/errors', resource: @answer %>

    <p>
      <%= form.label :body %>
      <%= form.text_area :body, class: 'form-control' %>
    </p>

    <p>
      <%= form.label :correct %>
      <%= form.check_box :correct %>
    </p>

    <p><%= form.submit(class: 'btn btn-primary') %></p>
  </div>
<% end %>
