<tr>
  <td><%= test.title %></td>
  <td><%= test_level(test) %></td>
  <td><%= link_to t('app.show'), admin_test_path(test) %></td>
  <td><%= link_to t('app.edit'), edit_admin_test_path(test) %></td>
  <td><%= link_to t('app.delete'),
                  admin_test_path(test),
                  method: :delete,
                  data: { confirm: t('app.sure') }%>
  </td>
  <td><%= test.questions.count %></td>
</tr>
