<h1><%= t('.tricky') %></h1>

<p><%= link_to t('.create_new'), new_admin_test_path %></p>

<table>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th colspan="3"><%= t('.actions') %></th>
    <th><%= t('.questions') %></th>
  </tr>

  <%= render @tests %>
</table>
