<h1><%= t('.test') %></h1>

<p>
  <strong><%= t('.title') %>:</strong>
  <%= @test.title %>
</p>
<p>
  <strong>><%= t('.level') %>:</strong>
  <%= @test.level %>
</p>

<%= link_to t('app.edit'), edit_admin_test_path(@test) %> |
<%= link_to t('app.back'), admin_tests_path %>

<div>
  <h2><%= t('.questions')%>:</h2>

    <table>
      <tr>
        <th><%= t('.body') %>:</th>
        <th><%= t('.actions') %>:</th>
      </tr>

      <%= render @test.questions %>
    </table>

  <p><%= link_to t('.new_question'), new_admin_test_question_path(@test)%></p>
</div>
